body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
    font-size: 5.625rem;
}
h2{
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 40px;
    margin: 100px auto;
}
.head{
    position: relative;
    left: 100px;
}
h3{
    font-family: 'montserrat',sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    font-family: 'montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
p{
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
}
.skillrow{
    width: 100%;
    padding-top: 100px;

}
.skills-head{
    position: relative;
    left: 25px;
}
.technical-skills{
    position: relative;
    left: 100px;
    text-align: left;
    line-height: 2;
}
.skill-row{
    width: 100%;
    text-align: left;
    margin: 100px auto 100px auto;
}
.academics-img{
    width: 200px;
    float:left;
    position: relative;
    bottom: 100px;
    
}
.skills-img{
    width: 150px;
    float: right;
    position:relative;
    bottom: 0px;
    height: 150px;
    
}
.Web{
    text-decoration: underline;
}
.top-container{
    background-color: #C2DED1;
    position:relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 350px;
}

.profile-img {
    border-radius: 100%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyrights{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}